
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Display Variable -->
    <h1> Name :  <%= name.toUpperCase() %> </h1>
     <!-- above statement is used to render js content  -->

     
    <!-- Conditional Statments -->
     <% if (userid === 128) { %>
        <h2> UserID: <%= userid %> </h2>
     <% } else { %>
     <h2> Invalid user</h2>
     <% } %> 


     <!-- For in Loop  -->
      <% const data = [1,2,3,4,5] %>
      <% for (const i of data) { %>
        <h3> <%= i %> </h3>
      <% } %>

      <% var current = new Date(); %> <%= current %>
</body>
</html>